a {
  font-size: 30px;
}

#title {
  padding-top: 20px;
  font-size: 60px;
}

#login {
  padding-bottom: 20px;
}

#column {
  background-color: #C0C0C0;
  border-radius: 25px;
  border: 5px solid black;
  padding: 8px;
  width: auto;
  height: auto;
}

#welcome {
  font-weight: bold;
}

#homelink:link, #homelink:visited {
  background-color: black;
  color: white;
  border-radius: 25px;
  border: 4px solid black;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#homelink:hover, #homelink:active {
  background-color: #007bff;
  color: black;
}
